[tool.ruff]
preview = true
line-length = 120
fix = true
output-format = "grouped"

[tool.ruff.format]
exclude = [".git", ".venv", ".mypy_cache", ".tox", "__pycache__"]

[dependency-groups]
dev = [
    "flake8>=7.3.0",
    "pytest>=9.0.0",
]
